body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: pink;
    padding: 50px;
}
h1 {
    color: blue;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.button {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
}
.buttons {
    margin-top: 20px;
}
.no {
    background-color: red;
    position: absolute;
}
